<div >
  <h2 >
    STATUS
    <button type="button" id="getAll"  (click)="ser.getAll('/STATUS/',com.STATUS)"
            class="btn btn-primary">GET ALL
    </button>
    <button  type="button"  id="clear" (click)="ser.clearAll(com.STATUS)"
             class="btn btn-danger">
      CLEAR
    </button>
  </h2>
  <table>
    <tr>
      <th>Path</th>
      <th>Result</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let path of com.STATUS" >
      <td >{{ path }}</td>
      <td [id]="path"></td>
      <td>
        <button type="button" value="/STATUS"  (click)="ser.getRequest( '/STATUS/', path)"
                class="btn btn-primary">
          GET
        </button>
        <button type="button"  (click)="ser.clear(path)"
                class="btn btn-danger">
          Clear
        </button></td>
    </tr>
  </table>
</div>
